.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(220, 208, 156, 0.65) 30%,
    #FD8A8A 90%
  );
  /* box-shadow: 2px 2px 50px #df5050; */
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}
.library h2 {
  padding: 2rem;
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
}
.library-song img {
  width: 30%;
}
.library-song:hover {
  background-color: #dfd7ff;
}
.song-description {
  padding-left: 1rem;
}
.song-description h3 {
  font-size: 1rem;
}
.song-description h4 {
  font-size: 0.7rem;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.selected {
  background: #92c7f8;
}
.active-library {
  transform: translateX(0%);
  z-index: 1;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
 }
}
